.testimonial{
  text-align: center;
  background-color: #f2f4f6;
  padding: 25px;
}

.testimonial-list{
  display: none;
  min-height: 330px;
}

.testimonial-img{
  width: 80px;;
  overflow: hidden;
  margin: auto;
  border-radius: 0 0 60px 60px;
  margin-bottom: 8px;
}

.testimonial-img img{
  width: 100%;
}

.testimonial-user span{
  padding-left: 9px;
}

.testimonial-list h3{
  max-width: 568px;
  margin: 18px auto;
  line-height: 1.5;
  font-weight: 600;
  font-size: 22px;
  color: #505458
}

.testimonial-control{
  width: 200px;
  margin: auto;
}

.testimonial-control .owl-page{
  cursor: pointer;
  border-radius: 50%;
  margin-left: 15px;
  display: inline-block;
  width: 12px;
  height: 13px;
  background-color: rgba(207, 205, 205, 0.767);
  transition: background .2s linear;
}

.testimonial-control .owl-page:hover{
  background-color: #869791;
}