.blog .container h2{
  text-align: center;
  font-size: 20px
}

.blog-content{
  width: 94%;
  padding-bottom: 20px;
  margin: 0 auto 20px;
  box-shadow: 0 2px 3px #444
}

.blog-content-image img{
  width: 100%
}

.blog-content h3{
  text-align: center;
}

.blog-content p{
  width: 80%;
  margin: 0 auto;
  line-height: 1.6;
  letter-spacing: 1.3px
}

.blog-content button{
  margin: 10px auto 0;
  display: block;
  background-color: transparent;
  padding: 8px 10px;
  border-radius: 20px;
  transition: all .5s linear;
  font-size: 16px;
  font-weight: 700;
  color: #444
}

.blog-content button:hover{
  border-color: #222;
  color: #222;
}

@media (min-width: 900px){
  .blog .container{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap
  }
  .blog .container h2{
    flex-basis: 100%;
  }
  .blog-content{
    flex-basis: 48%;
  }
}